#blueBlob1
	position: absolute
	margin-left: 450px
	max-width: 800px
	z-index: 0
	top: 0
	right: 0
	align-content: center
	overflow: hidden

#header

	.content
		margin: 10% 35px
		display: grid
		grid-template-columns: repeat(2, auto)

		h1
			font-size: 35px
			margin-bottom: 15px
			padding: 0

		p
			font-weight: 300
			font-size: 20px
			width: 450px

		.phone-mockup
			position: absolute
			z-index: 1
			max-width: 260px
			right: 170px
			top: 120px
		
		.email-submit-input
			position: relative
			background-color: white
			box-shadow: 0 5px 25px rgba(0, 0, 0, 0.1)
			display: flex
			flex-direction: row
			//border: 1px solid grey
			padding: 2px
			width: 450px
			border-radius: 100px

			z-index: 1000

			.email-prompt
				padding: 10px
				padding-left: 35px
				border: none
				line-height: 2
				border-radius: 100px
				font-family: inherit
				font-size: 14px
				width: 360px

			.email-prompt::placeholder
				color: rgba(149, 149, 149, 0.71)

			.submit-button
				background: #006DF0
				color: #FFFFFF
				//width: 80px
				border-radius: 100px
				border: none
				height: 40px
				vertical-align: middle
				text-align: center
				padding: 0 20px
				margin-top: 4px
				margin-right: 6px
				cursor: pointer

		#company-logos
			display: flex
			width: 450px
			margin-top: 50px

