#blueBlob1
	position: absolute
	margin-left: 450px
	max-width: 800px
	z-index: 0
	top: 0
	right: 0
	align-content: center
	overflow: hidden

#header

	.content
		margin: 10% 35px
		display: grid
		grid-template-columns: repeat(2, auto)

		h1
			font-family: 'Alegreya', sans-serif
			font-size: 35px
			margin-bottom: 15px
			padding: 0

		p
			font-family: 'Source Sans Pro', sans-serif
			font-weight: 300
			font-size: 20px
			width: 450px

		.phone-mockup
			position: absolute
			z-index: 1
			max-width: 260px
			right: 170px
			top: 120px
			
		.email-prompt
			background: white
			padding: 10px
			padding-left: 35px
			box-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);
			border: none
			line-height: 2
			border-radius: 100px
			font-family: inherit
			font-size: 14px
			width: 360px

			margin-top: 5px
		

		.email-prompt::placeholder
			color: rgba(149, 149, 149, 0.71)

		#company-logos
			display: flex
			width: 450px
			margin-top: 50px

